* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_115 {
  width: 100%;
  height: 2572px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v11_116 {
  width: 100%;
  height: 2422px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v11_117 {
  width: 384px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 90px;
  left: 530px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v11_118 {
  width: 768px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 162px;
  left: 336px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v11_119 {
  width: 576px;
  height: 474px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 128px;
  overflow: hidden;
}
.v11_120 {
  width: 576px;
  height: 192px;
  background: url("../images/v11_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v11_121 {
  width: 65px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 216px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v11_122 {
  width: 411px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 250px;
  left: 24px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_123 {
  width: 528px;
  height: 78px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 24px;
  overflow: hidden;
}
.v11_124 {
  width: 528px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_125 {
  width: 105px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 447px;
  overflow: hidden;
}
.v11_126 {
  width: 72px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v11_127 {
  width: 576px;
  height: 474px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 705px;
  overflow: hidden;
}
.v11_128 {
  width: 576px;
  height: 192px;
  background: url("../images/v11_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v11_129 {
  width: 66px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 216px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v11_130 {
  width: 528px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 250px;
  left: 24px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_131 {
  width: 528px;
  height: 78px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 24px;
  overflow: hidden;
}
.v11_132 {
  width: 528px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_133 {
  width: 105px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 447px;
  overflow: hidden;
}
.v11_134 {
  width: 72px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v11_135 {
  width: 576px;
  height: 449px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 128px;
  overflow: hidden;
}
.v11_136 {
  width: 576px;
  height: 192px;
  background: url("../images/v11_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v11_137 {
  width: 89px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 216px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v11_138 {
  width: 519px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 250px;
  left: 24px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_139 {
  width: 528px;
  height: 78px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 24px;
  overflow: hidden;
}
.v11_140 {
  width: 528px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_141 {
  width: 105px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 447px;
  overflow: hidden;
}
.v11_142 {
  width: 72px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v11_143 {
  width: 576px;
  height: 449px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 705px;
  overflow: hidden;
}
.v11_144 {
  width: 576px;
  height: 192px;
  background: url("../images/v11_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v11_145 {
  width: 81px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 216px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v11_146 {
  width: 286px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 250px;
  left: 24px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_147 {
  width: 528px;
  height: 78px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 24px;
  overflow: hidden;
}
.v11_148 {
  width: 528px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_149 {
  width: 105px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 447px;
  overflow: hidden;
}
.v11_150 {
  width: 72px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_467 {
  width: 100%;
  height: 73px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_468 {
  width: 100%;
  background: url("../images/v17_468.png");
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  border: 1px solid rgba(144,149,160,1);
}
.v17_469 {
  width: 40px;
  height: 40px;
  background: rgba(144,149,160,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 208px;
  border: 0px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v17_470 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 215px;
  overflow: hidden;
}
.v17_471 {
  width: 23px;
  height: 17px;
  background: url("../images/v17_471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
  overflow: hidden;
}
.v17_472 {
  width: 23px;
  height: 17px;
  background: url("../images/v17_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_473 {
  width: 23px;
  height: 12px;
  background: url("../images/v17_473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_474 {
  width: 23px;
  height: 12px;
  background: rgba(23,26,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v17_475 {
  width: 2px;
  height: 8px;
  background: url("../images/v17_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 21px;
  overflow: hidden;
}
.v17_476 {
  width: 2px;
  height: 8px;
  background: rgba(23,26,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v17_477 {
  width: 15px;
  height: 9px;
  background: url("../images/v17_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
  overflow: hidden;
}
.v17_478 {
  width: 15px;
  height: 9px;
  background: rgba(23,26,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v17_479 {
  width: 234px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 18px;
  left: 260px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v17_483 {
  width: 142px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 402px;
  overflow: hidden;
}
.v17_484 {
  width: 96px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 23px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_490 {
  width: 142px;
  height: 40px;
  background: rgba(86,94,109,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_491 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_485 {
  width: 84px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 586px;
  overflow: hidden;
}
.v17_486 {
  width: 40px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 21px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_487 {
  width: 84px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 260px;
  overflow: hidden;
}
.v17_488 {
  width: 51px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_493 {
  width: 119px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 521px;
  overflow: hidden;
}
.v17_494 {
  width: 80px;
  color: rgba(86,94,109,1);
  position: absolute;
  top: 9px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v17_496 {
  width: 100%;
  height: 85px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2487px;
  left: 1px;
  overflow: hidden;
}
.v17_497 {
  width: 100%;
  background: url("../images/v17_497.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(144,149,160,1);
}
.v17_498 {
  width: 380px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 35px;
  left: 31px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_499 {
  width: 362px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 35px;
  left: 495px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_500 {
  width: 436px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 36px;
  left: 940px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
